---

// import components
import Heading from "../../components/ui/Heading.astro";
import Link from "@ui/Link.astro";

import baseballField from "../../assets/baseball-field.jpg";
import { Image } from "astro:assets";

// import crestFeature1Data from "../../data/crest-feature-1.json";
// console.log(crestFeature1Data);
---
<!-- single crest feature -->
<div class="full-width text-centered-image crest-overlay crest-transparent">
	<Image src={baseballField} alt="" class="full-width"></Image>
	<div class="text">
		<Heading tagName="h2" size="base6" weight="regular" family="serif"  classes="text-shadow" id="top">Forming good men & good citizens since 1775.</Heading>	
		<Link style="primary" href="/text"  classes="button button--primary inline-center" text="Why Hampden-Sydney?" icon={{name:"arrow-right", side:"right"}}></Link>
	</div>

	
	
</div>
<!-- <script is:inline src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<section class="full-width bg-black crest">
	wrapper for crest bg
	<div class=" carousel full-bleed">
		{
			crestFeature1Data.map(slide => 
				<div class="slide feature-1">
					<div class="text">
						<p class="eyebrow align-center inline-center">{slide.eyebrow}</p>
						<Heading tagName="h2" size="base5" weight="black" family="serif"  classes="align-center" id="top">{slide.title}</Heading>	
						<p class="align-center inline-center">
							{
								slide.link.map( link => 
									<a href={link.url}>{link.text}</a>
								)
							}
						</p>
					</div>
					<img src="/images/Football-player.jpg" alt="" />
				</div>
			)
		}	
   </div>
</section> -->


<!-- <script>
var flkty = new Flickity( '.carousel', {
  // options
});
</script> -->
