---
import Heading from "../ui/Heading.astro";
// images
import Football from "../../assets/Football-player.jpg";
import { Image } from "astro:assets";

// fields
const { name, title, department, building, email, phone } = Astro.props;
---

<div class="person-card">
  <Image src={Football} width={800} alt="" class="circle-image m-bottom-1" />
  <!-- <img src="blah.jpg" class="circle-image m0bottom-1"/> -->
  <div class="name-title">
    <Heading tagName="h3" size="base2" family="serif" classes="m-bottom-05"
      ><a href="/person">{name}</a></Heading
    >
    <!-- <h3 class="fs-3 fw-regular ff-serif m-bottom-0">Anthony M. Carilli</h3>  -->
    <p class="caps">{title}</p>
  </div>
  <p class="person-department"><strong>{department}</strong></p>
  <p class="person-address">
    {building}<br />
    <a href="mailto:email">{email}</a><br />
    {phone}
  </p>
</div>
